@import url('https://fonts.gooleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to left top, #031a9a, #8853ff);
}
.carousel .card {
    height: 342px;
    list-style: none;
    background: #fff;
    border-radius: 8px;
}
.card .img img {
    width: 140px;
    height: 140px;
    object-fit: cover;

}